/* .content_action{
    position: absolute;
    width: 92%;
    height: fit-content;
    background: #eee;
    border-radius: 5px;
    margin-top: 34px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
.content_action_access{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
}
.action_item{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
}
.action_item:last-child{
    border-right: none;
}
.action_item i{
    text-align: center;
    color: rgb(124, 124, 124);
    font-size: 1.15em;
} */