.main_body{
  width: 75%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.filepicker{
  height: 150px;
  width: 100%;
}
.dz-started{
  border: 2px dotted rgba(0,0,0,0.3);
  height: 150px;
}
.dropzone .dz-preview{
  margin: 0;
  padding: 0;
}
.dropzone .dz-preview.dz-image-preview{
  background: transparent;
  padding: 0;
}
.dz-default .dz-message{
  margin-top: 0;
  margin: 0;
}
.wraper{
  flex: 1;
  flex-basis: 100%;
  /* border: 2px dotted rgba(128, 128, 128, 0.51); */
  display: flex;
  align-items: center;
  justify-content: center;
}