.main_body{
  height: 100%;
  width: 50%;
  margin: 10vh;
}
.dropzone{
  border: 2px dotted rgba(0,0,0,0.3);
}
.dropzone .dz-preview.dz-image-preview{
  background: transparent;
}
/* .wraper{
  height: 10vh;
  width: 40%;
  border: 2px dotted rgba(128, 128, 128, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;
} */