/* format css  */
*{padding: 0;margin: 0;box-sizing:content-box;}
ul{list-style: none;}
a{text-decoration: none;color: rgba(103, 36, 155, 0.67);}

#app{
  width: 100%;
  height: 100%;
}

/* font-family: 'Cormorant', serif;
font-family: 'Cormorant Infant', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Sedgwick Ave Display', cursive; */